node_modules
dist
.next
.turbo
out
coverage

# env
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# os
.DS_Store

# prisma
packages/db/prisma/*.db
packages/db/generated
packages/db/prisma/_*
packages/db/prisma/_chunks/
packages/db/prisma/_batches-chunk-*/
packages/db/prisma/seed*.sql
packages/db/prisma/seed.ts
packages/db/prisma/generate-seed-sql.ts
packages/db/prisma/apply-seed-*.mjs
packages/db/prisma/*-batch*.js
packages/db/prisma/execute-all-batches-*.js
.vercel
.env*
